.loginContainer {
    display: flex;
    justify-content: center;
    height: 950px;
    background-color: gray;
  }
  .containerLogin {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 180px;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    box-shadow: 7px 13px 37px #000;
    background-color: #4e4d4d;
    color: white;
    font-family: cursive;
  }